h1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 50px;
}

h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 15px;
}

h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

h6 {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  margin-bottom: 10px;
}

p.copy-large {
  font-size: 20px;
}

p.copy-small {
  font-size: 14px;
}
